//fonts
$fontTittle: "Merriweather", serif;
$fontePrincipal: "Roboto", sans-serif;
$fonteLogo: "Dancing Script", serif;

//Cor

$corButton: yellow;
$corBackgroundEntrega: RED;
$corBackgroundFaq: #640db4;
$corTittleLink: blue;
